@import '/modules/form/form.css';
@import '/components/button/button.css';
@import '/components/link/link.css';

.register {
  width: 340px;
  padding: 50px 30px 30px;
  border-radius: 12px;
  background: var(--white);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);

  & .register__title {
    font-size: 20px;
    font-weight: 500;
  }

  & .register__form {
    margin-top: 40px;
  }

  & .register__link {
    margin-top: 16px;
  }
}
